body {
  font-family: var(--font-family);
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.p-card:focus {
  outline: none;
}
.card-content {
  display: flex;
}
.selected {
  background: rgba(177, 157, 247, 0.16);
  color: #b19df7;
}

@media (max-width: 992px) {
  .p-component {
    font-size: 0.85rem;
  }
  .p-datatable .p-datatable-tbody > tr > td {
    padding: 0.65rem 0.65rem;
  }
  .p-checkbox .p-checkbox-box {
    width: 18px;
    height: 18px;
  }
  .p-checkbox .p-checkbox-box .p-checkbox-icon.p-icon {
    width: 9px;
    height: 9px;
  }
}

@media (max-width: 550px) {
  .p-component .p-link {
    font-size: 0.7rem;
  }
  .p-icon {
    width: 0.7rem;
    height: 0.7rem;
  }
  .p-card .p-card-content {
    padding: 0;
  }
  .p-card {
    height: 19rem !important;
  }

  .p-card.h-13rem {
    height: unset !important;
  }

  .card-content {
    flex-direction: column-reverse;
  }

  .media-card {
    flex-direction: row !important;
  }

  .media-search_input {
    z-index: 100;
    padding: 7px;
  }
  .p-tabview-nav {
    flex-direction: column;
  }
  .card {
    padding: 0;
  }
}

@media (max-width: 350px) {
  .media-table.gap-4 {
    gap: 0.5rem !important;
  }
}
