//@import './variables.scss';

body {
  font-family: var(--font-family);
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.selected {
  background: rgb(0 0 0 / 60%);
  color: #b19df7;
}
